<div class="container">
  <h1>Home</h1>

  <div class="row">
    <h4>Últimos professores avaliados:</h4>

    <div class="row">
      <%= render partial: 'teachers/list' %>
    </div>

    <div class="row">
      <%= link_to 'Ver todos >', teachers_path, class: 'right' %>
    </div>
  </div>

  <div class="row">
    <h4>Últimas disciplinas avaliadas:</h4>

    <div class="row">
      <%= render partial: 'subjects/list' %>
    </div>

    <div class="row">
      <%= link_to 'Ver todos >', subjects_path, class: 'right' %>
    </div>
  </div>

</div>