<div class="container">

  <div class="row search-input">
    <%= form_tag(search_subjects_path, remote: true, method: :get) do %>
      <%= text_field_tag :search, params[:search], id: 'subjects_search', placeholder: 'Pesquise uma disciplina aqui' %>
    <% end %>
  </div>

  <div id="subjects_list" class="row">
    <%= render partial: 'list' %>
  </div>

</div>