<div class="container">

  <div class="row search-input">
    <%= form_tag(search_teachers_path, remote: true, method: :get) do %>
      <%= text_field_tag :search, params[:search], id: 'subjects_search', placeholder: 'Pesquise por um professor aqui' %>
    <% end %>
  </div>

  <div id="teachers_list" class="row">
    <%= render partial: 'list' %>
  </div>

</div>